@import _root_.status._
@(history: List[MetroStatus])

@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
        <div class="card" style="margin: 25px 0px">
          <div class="card-body">
            <form method="get" action="/">
              <div class="form-group">
                <label for="id">Metro Id:</label>
                <input type="id" class="form-control" name="id">
              </div>
              <button type="Search" class="btn btn-primary">Search</button>
            </form>
          </div>
        </div>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th style='text-align:center;vertical-align:middle'>Timestamp</th>
              <th style='text-align:center;vertical-align:middle'>Métro ID</th>
              <th style='text-align:center;vertical-align:middle'>Direction</th>
              <th style='text-align:center;vertical-align:middle'>Passengers</th>
              <th style='text-align:center;vertical-align:middle'>Battery</th>
              <th style='text-align:center;vertical-align:middle'>Speed</th>
              <th style='text-align:center;vertical-align:middle'>Temperature</th>
              <th style='text-align:center;vertical-align:middle'>Line</th>
              <th style='text-align:center;vertical-align:middle'>Failure</th>
            </tr>
          </thead>
          <tbody>
            @for(status <- history) {
              <tr>
                <td style='text-align:center;vertical-align:middle'>@status.timestamp</td>
                <td style='text-align:center;vertical-align:middle'>@status.metro_id</td>
                <td style='text-align:center;vertical-align:middle'>@status.direction</td>
                <td style='text-align:center;vertical-align:middle'>@status.passengers</td>
                <td style='text-align:center;vertical-align:middle'>@status.battery</td>
                <td style='text-align:center;vertical-align:middle'>@status.speed</td>
                <td style='text-align:center;vertical-align:middle'>@status.temperature</td>
                <td style='text-align:center;vertical-align:middle'>@status.line</td>
                <td style='text-align:center;vertical-align:middle'>@status.failure</td>
              </tr>
		        }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
}
}
